<div class ="container">
    <div class= "column column-one">
      <div class="header">
        <div class="pictureleft">
          <%= image_tag @team.team_image, :size => "70x70" %>
        </div>
        <div class="quickinfo">
          <li>
            <b> Team: </b><%= link_to @team.name, team_path(@team.id) %> <br>
            <b> Owner: </b><%= link_to @team.owner.name, user_path(@team[:user_id]) %> <br>
            <b> LOC: </b><%= @team.location %> <br>
            <b> LAN: </b><%= @team.native_language %>
          </li>
        </div>
      </div>
      <div class="lollinks">
        <h1>Related Links</h1>
        <div class="twolinkcolumn">
          <div>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          </div>
          <div>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
          </div>
        </div>
      </div>
    </div>

    <div class= "column column-two">
      <div class="userinfo">
        <div>
          <b>Team Name:</b> <%= @team.name %>
        </div>
        <div>
          <b>Location: </b> <%= @team.location %>
        </div>
        <div>
          <b>Native Language: </b><%= @team.native_language %>
        </div>
        <div>
          <b>Members: </b> <%= @team.members %>
        </div>
        <div>
          <b>Est.: </b> <%= @team.established_on %>
        </div>
        <div>
          <b>Owner: </b> <%= link_to @team.owner.name, user_path(@team[:user_id]) %>
        </div>
        <div>
          <b>Description: </b> <%= @team.description %>
        </div>
            <% if current_user == @team.user_id || current_user.try(:admin?) %>
              <%= link_to 'Edit Team Information', edit_team_path(@team), class: "links" %>
              <%= link_to "Delete Team", team_path, class: "links", method: :delete, data:
              {confirm: "Are you sure you want to delete your Team?"} %>
            <% end %>
        </div>
    </div>


    <div class ="column column-three">
      <div class="recentteams">
        <h1>Recent Teams Created</h1>
        <% @recentteams.each do |team| %>
        <div class="recentuser">
          <div class="pictureleft">
        <%= image_tag team.team_image, :size => "70x70" %>
          </div>
          <div class="quickinfo">
          <li>
            <b> Team: </b><%= link_to team.name, team_path(team.id), class: "links" %> <br>
            <b> Owner: </b><%= link_to team.owner.name, user_path(team[:user_id]), class: "links" %> <br>
            <b> LOC: </b><%= team.location %> <br>
            <b> LAN: </b><%= team.native_language %>
          </li>
        </div>
        </div>
        <% end %>
      </div>
      <div class="recentusers">
        <h1> Recent Users Created </h1>
      <% @recentusers.each do |user| %>
        <div class="recentuser">
          <div class="pictureleft">
            <%= image_tag user.profile_image, :size => "70x70" %>
          </div>
          <div class="quickinfo">
            <li>
              <b>User:</b> <%= link_to user.name, user_path(user[:id]), class: "links" %> <br>
              <b> IGN: </b> <%= link_to user.ign, user_path(user[:id]), class: "links" %> <br>
              <b> Role: </b> <%= user.role %> <br>
              <b> Tier: </b> <%= user.tier_level %>
            </li>

          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
