<div class ="container">
    <div class= "column column-one">
      <div class= "Header">
        <h1>The User Info Goes Here</h1>
      </div>
      <div class="LoLLinks">
        <h1>News</h1>
          <li><a href="http://news.yahoo.com/">Yahoo! News</a></li>
          <li><a href="http://www.huffingtonpost.com/">Huffington Post</a></li>
          <li><a href="http://www.buzzfeed.com/news">BuzzFeed</a></li>
          <li><a href="http://www.nytimes.com/">The New York Times</a></li>
          <li><a href="http://www.latimes.com/">LA Times</a></li>
          <li><a href="http://www.cnn.com/">CNN Network</a></li>
          <li><a href="http://www.cbsnews.com/">CBS News</a></li>
          <li><a href="http://www.usatoday.com/">USAToday</a></li>
          <li><a href="http://elitedaily.com/">ELITEDAILY</a></li>
          <li><a href="http://time.com/">TIME</a></li>
          <li><a href="http://www.thedailybeast.com/">THE DAILY BEAST</a></li>
      </div>
    </div>

    <div class= "column column-two">
     <% if current_user %>
      <div class="PostBox">
        <h3><u> Create a Post! </u></h3>
        <%= form_for @post, url: user_posts_path(current_user.id) do |f| %>
        <div class="NameAndImage">
        <strong>
        <%= f.label current_user.name %> :
        </strong>
        </div>

        <div class="Text">
          <div>
              <%= f.text_area :content, size: "67x5", :maxlength =>140, :placeholder => "Enter Text Here. (Max characters is 140)." %>
          </div>
        </div>
        <%= f.submit "Post" %>
        <% end %>
      </div>
       <% end %>
      <div class="PostList">
        <% @posts.each do |post| %>
        <div class="Post">
          <strong> <%= post.user.name %> </strong> - <%= post.content %>
        </div>
        <% end %>
      </div>
    </div>

    <div class ="column column-three">
      <div class="recentTeams">
        <h1>Recent Teams Created</h1>

      </div>
      <div class="recentUsers">
        <h1> Recent Active Users </h1>
      <% @recentUsers.each do |user| %>
        <div class="RecentUser">
          <div class="PictureLeft">
            <%= image_tag user.profile_image, :size => "70x70" %>
          </div>
          <div class="QuickInfo">
            <li>
              <b>User:</b> <%= user.name %> <br>
              <b> IGN: </b> <%= user.ign %> <br>
              <b> Role: </b> <%= user.role %> <br>
              <b> Tier: </b> <%= user.tier_level %>
            </li>

          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>

<%= image_tag 'http://lol.esportspedia.com/w/images/thumb/7/7a/TSM_Logo.jpg/300px-TSM_Logo.jpg', :size => "30x30" %>



