<div class ="container">
    <div class= "column column-one">
      <div class= "Header">
      <% if current_user %>
        <div class="PictureLeft">
        <%= image_tag current_user.profile_image, :size => "70x70" %>
        </div>
        <div class="QuickInfo">
          <li>
            <b>User:</b> <%= current_user.name %> <br>
            <b> IGN: </b> <%= current_user.ign %> <br>
            <b> Role: </b> <%= current_user.role %> <br>
            <b> Tier: </b> <%= current_user.tier_level %>
          </li>
        </div>
        <% else %>
          <img class="Logo" src="/assets/Team_of_Legends_2.jpg" height="90" width="260">
      <% end %>
      </div>
      <div class="LoLLinks">
        <h1>Related Links</h1>
        <div class="TwoLinkColumn">
          <div>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          </div>
          <div>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
          </div>
        </div>
      </div>
    </div>

    <div class= "column column-two">
      <div class="UserInfo">
        <h1>Login</h1>
        <p id="alert"><%= alert %></p>
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email] %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Log in" %></div>
        <% end %>
      </div>
    </div>

    <div class ="column column-three">
      <div class="recentTeams">
        <h1>Recent Teams Created</h1>
      <% @recentTeams.each do |team| %>
        <div class="RecentUser">
          <div class="PictureLeft">
        <%= image_tag team.team_image, :size => "70x70" %>
          </div>
          <div class="QuickInfo">
          <li>
            <b> Team: </b><%= link_to team.name, team_path(team.id) %> <br>
            <b> Owner: </b><%= link_to team.owner.name, user_path(team[:user_id]) %> <br>
            <b> LOC: </b><%= team.location %> <br>
            <b> LAN: </b><%= team.native_language %>
          </li>
        </div>
        </div>
        <% end %>
      </div>
      <div class="recentUsers">
        <h1> Recent Users Created </h1>
      <% @recentUsers.each do |user| %>
        <div class="RecentUser">
          <div class="PictureLeft">
            <%= image_tag user.profile_image, :size => "70x70" %>
          </div>
          <div class="QuickInfo">
            <li>
              <b>User:</b> <%= link_to user.name, user_path(user[:id]) %> <br>
              <b> IGN: </b> <%= user.ign %> <br>
              <b> Role: </b> <%= user.role %> <br>
              <b> Tier: </b> <%= user.tier_level %>
            </li>

          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>


