<div class ="container">
    <div class= "column column-one">
      <div class= "Header">
        <div class="PictureLeft">
        <%= image_tag @user.profile_image, :size => "70x70" %>
        </div>
        <div class="QuickInfo">
          <li>
            <b>User:</b> <%= @user.name %> <br>
            <b> IGN: </b> <%= @user.ign %> <br>
            <b> Role: </b> <%= @user.role %> <br>
            <b> Tier: </b> <%= @user.tier_level %>
          </li>
        </div>
      </div>

       <div class="LoLLinks">
        <h1>Related Links</h1>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
      </div>
    </div>

    <div class= "column column-two">
      <div class="UserInfo">
        <div>
          <b>User:</b> <%= @user.name %>
        </div>
        <div>
          <b>Email: </b> <%= @user.email %>
        </div>
        <div>
          <b>Native Language: </b><%= @user.native_language %>
        </div>
        <div>
          <b>Location: </b> <%= @user.location %>
        </div>
        <div>
          <b>Role: </b> <%= @user.role %>
        </div>
        <div>
          <b>Tier Level: </b> <%= @user.tier_level %>
        </div>
        <div>
          <b> In-Game Name: </b> <%= @user.ign %>
        </div>
        <div>
          <b> DOB: </b> <%= @user.born_on %>
        </div>
        <div>
          <b>Description: </b> <%= @user.description %>
        </div>
          <% if current_user == @user %>
            <%= link_to 'Edit Information', edit_user_path(@user) %>
            <%= link_to "Delete Account", user_path, method: :delete, data:
            {confirm: "Are you sure you want to delete your account?"} %>
          <% end %>
      </div>
      <div class="PostList">
        <% @posts.each do |post| %>
        <div class="Post">
          <div class="PostImageLeft">
        <%= image_tag post.user.profile_image, :size => "70x70" %>
          </div>
          <div class="PostContentRight">
          <strong> <%= post.user.name %> </strong> - <%= post.content %>
        </div>

      <%= link_to 'View Post', user_post_path(@user.id, post.id) %>

      <%= link_to 'Edit Post', edit_user_post_path(@user.id, post.id) %>

        </div>
        <% end %>
      </div>
    </div>



    <div class ="column column-three">
      <div class="recentTeams">
        <h1>Recent Teams Created</h1>

      </div>
      <div class="recentUsers">
        <h1> Recent Users Created </h1>
      <% @recentUsers.each do |user| %>
        <div class="RecentUser">
          <div class="PictureLeft">
            <%= image_tag user.profile_image, :size => "70x70" %>
          </div>
          <div class="QuickInfo">
            <li>
              <b>User:</b> <%= link_to user.name, user_path(user[:id]) %> <br>
              <b> IGN: </b> <%= user.ign %> <br>
              <b> Role: </b> <%= user.role %> <br>
              <b> Tier: </b> <%= user.tier_level %>
            </li>

          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>


