<div class ="container">
    <div class= "column column-one">
      <div class= "Header">
        <div class="PictureLeft">
        <%= image_tag @user.profile_image, :size => "70x70" %>
        </div>
        <div class="QuickInfo">
          <li>
            <b>User:</b> <%= @user.name %> <br>
            <b> IGN: </b> <%= @user.ign %> <br>
            <b> Role: </b> <%= @user.role %> <br>
            <b> Tier: </b> <%= @user.tier_level %>
          </li>
        </div>
      </div>

       <div class="LoLLinks">
        <h1>Related Links</h1>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
      </div>
    </div>

    <div class= "column column-two">
      <div class="Post">
        <div class="PostImageLeft">
        <%= image_tag @post.user.profile_image, :size => "70x70" %>
        </div>
        <div class="PostContentRight">
          <div>
          <strong> <%= @post.user.name %> </strong> - <%= @post.content %>
          </div>
          <div>
            <% if current_user == @user %>
            <%= link_to 'Edit Post', edit_user_post_path %>
            <%= link_to "Delete Post", user_post_path, method: :delete, data:
            {confirm: "Are you sure you want to delete your post?"} %>
          <% end %>
          </div>
        </div>
        </div>
    </div>

    <div class ="column column-three">
      <div class="recentTeams">
        <h1>Recent Teams Created</h1>

      </div>
      <div class="recentUsers">
        <h1> Recent Users Created </h1>
      <% @recentUsers.each do |user| %>
        <div class="RecentUser">
          <div class="PictureLeft">
            <%= image_tag user.profile_image, :size => "70x70" %>
          </div>
          <div class="QuickInfo">
            <li>
              <b>User:</b> <%= link_to user.name, user_path(user[:id]) %> <br>
              <b> IGN: </b> <%= user.ign %> <br>
              <b> Role: </b> <%= user.role %> <br>
              <b> Tier: </b> <%= user.tier_level %>
            </li>

          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>


